body{
	background-color: #fff;
}

.a{
	/*border: 2px solid rgb(250,250,250);*/
	background-color: cyan;
	text-align: center;
	align-items: center;
	padding-top: 70px;
	height: 500px;
	/*width: 100%;*/
}

.b{
	background-color: orange;
	height: 168px;
	text-align: center;
}